<h2>List of ratings</h2>
<p> <%= link_to 'rate a beer', new_rating_path %> </p>

<ul>
  <h3> Total ratings: <%= @ratings.count %> </h3>
  <% @ratings.each do |rating| %>
    <li> <%= render rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>
