<h2>List of ratings</h2>
<p> <%= link_to 'rate a beer', ratings_new_path %> </p>

<ul>
  <h3> Total ratings: <%= @ratings.count %> </h3>
  <% @ratings.each do |rating| %>
    <li> <%= render rating %> </li>
  <% end %>
</ul>
